* {
    margin: 0;
    padding: 0;
}    

body {
    background-color: rgb(177, 250, 244);;
}

#configuracao-game {
    margin-bottom: 100px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#configuracao-game h1 {
    text-align: center;
    margin-bottom: 20px;
}

#mapaConteiner {
    background-image: url("backgroundwar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    border: 5px solid rgb(0, 0, 0);
    max-height: 524px;
}

#info-jogador {
    background-color: rgb(7, 99, 91);
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 524px;
    border: 5px solid rgb(0, 0, 0);
   
}

#div-info-jogador {
    display: none;
}

#info-jogador h1{
    text-align: center;
}

#content-config button{
    margin-left: 30px;
    width: 25%;
}

#content-config {
    text-align: center;
}

#content-config .div-input-jogadores {
    margin-bottom: 20px;
}


#controle-jogo {
    display: inline-block;
    background-color: rgba(0, 105, 243, 0.226);
}

#controle-jogo h2 {
    margin-bottom: 20px;
    color: blanchedalmond;
    margin-top: 20px;
    text-align: center;
}

.flash {
    animation: flash infinite 2.5s;
    
}

@keyframes flash{
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}


.area {
    cursor: pointer;
}

#teste {
    background-color: aqua;
}


